@using Homework2.Models.DtoModel
@model CourseWithDetailsDto

<h2>Course Details</h2>

<div>
    <dl class="row">
        <dt>Course Name</dt>
        <dd>@Model.Name</dd>

        <dt>Number of Classes</dt>
        <dd>@Model.NumberOfClasses</dd>
    </dl>
</div>
