@model EditStudentVM

<div>
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" class="form-control" />
</div>
<div>
    <label asp-for="LastName"></label>
    <input asp-for="LastName" class="form-control" />
</div>
<div>
    <label asp-for="DateOfBirth"></label>
    <input asp-for="DateOfBirth" type="date" class="form-control" />
</div>
<div>
    <label asp-for="ActiveCourseId"></label>
    <select asp-for="ActiveCourseId" asp-items="@(new SelectList(Model.Courses, "Id", "Name"))" class="form-control">
        <option value="">Select Course</option>
    </select>
</div>
